__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
build/
dist/

.venv/
.env/
venv/
env/

.ipynb_checkpoints/

data/raw/*
!data/raw/README.md
data/processed/*
!data/processed/README.md

models/*
!models/.gitkeep
logs/*
!logs/.gitkeep
reports/*
!reports/.gitkeep

*.log
*.tmp
.DS_Store
*.swp
*.swo

poetry.lock
